<%- include("./partials/header")%>
<%- include("./partials/navbar")%>
<div class="text-center mt-5 mp-4">
<h2>Hi, Welcome to Super Team Picker</h2>
<h4 class="mb-4">This app provides the feature of creating new cohort, editing the cohort and assigning cohort members into different teams</h4>
</div>

<%- include("./partials/footer")%>